{% extends "layout.html" %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Customer Dashboard</h2>

    <div class="row text-center mt-4">
        <!-- View Available Services Button -->
        <div class="col-md-6 mb-4">
            <div class="card shadow border-info h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">View Available Services</h5>
                    <a href="{{ url_for('available_services') }}" class="btn btn-info mt-auto">Available Services</a>
                </div>
            </div>
        </div>

        <!-- View Requested Services Button -->
        <div class="col-md-6 mb-4">
            <div class="card shadow border-primary h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">View My Service Requests</h5>
                    <a href="{{ url_for('view_customer_requests') }}" class="btn btn-primary mt-auto">My Requests</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow border-info h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Write Reviews</h5>
                    <a href="{{ url_for('write_reviews') }}" class="btn btn-info mt-auto">Write Reviews</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
