{% extends 'layout.html' %}

{% block title %}
    Profile - Household Services
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center mb-4">
            <img src="https://api.dicebear.com/6.x/lorelei/svg?seed={{ user.username }}" 
                 width="100" alt="Profile Picture" class="rounded-circle shadow">
        </div>
        <h1 class="display-4 text-center mb-4">Welcome, {{ user.name }}</h1>
        
        

        <h2 class="text-center mb-4">Update Your Profile</h2>
        
        <!-- Form to change username and password -->
        <form action="" method="post" class="p-4 border rounded bg-light shadow-sm">
            <div class="form-group mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" 
                       value="{{ user.username }}" required>
            </div>

            <div class="form-group mb-3">
                <label for="name" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="name" name="name" 
                       value="{{ user.name }}" required>
            </div>

            <div class="form-group mb-3">
                <label for="Cpassword" class="form-label">Current Password:</label>
                <input type="password" class="form-control" id="Cpassword" name="Cpassword" required>
            </div>

            <div class="form-group mb-3">
                <label for="password" class="form-label">New Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="form-group mb-4">
                <label for="confirm_password" class="form-label">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
            </div>

            <button type="submit" class="btn btn-primary w-100">Update Profile</button>
        </form>
    </div>
{% endblock %}
